/* default dark colorscheme */
body {
  --fg:                  #d0d0d0;
  --fg1:                 white;
  --bg-1:                #101010;
  --bg:                  #202020;
  --bg1:                 #403830;
  --bg2:                 #504840;
  --bg3:                 #603050;
  --bg4:                 #808080;
  --bg5:                 #90a0a0;
}