body {
  display:               grid;
  grid-template-columns: 1fr 4fr;
  height:                100vh;
  font-family:           "Oswald";
  background-color:      silver; }
h1 {
  margin:                 8px 0 0 0;
  padding:                0 8px; 
  border-bottom:          1px solid white; }
h2 {
  margin:                 8px 0 0 0;}
#listList {
  background-color:      antiquewhite; }
#listsHeader {
  display:               grid; 
  grid-template-columns: 4fr minmax(1em, 1fr); }
#listsHeader > button {
  margin: 8px 0 0 0;}
#toDoLists {
  font-size: 24;
  padding: 0 8px; }
#toDo {
  background-color:      azure; }
#toDoTitle {
  background-color:      pink; }
#toDoEntries {
  font-size: 24;
  padding: 0 8px; 
  border-bottom: 8px outset silver;}
