body {
  display:               grid;
  grid-template-columns: 1fr 4fr;
  height:                100vh;
  font-family:           "Oswald";
  background-color:      silver; }
h1 {
  margin:                 8px 0 0 0;
  padding:                0 8px; 
  border-bottom:          1px solid white; }
h2 {
  margin:                 8px 0 0 0;}
#projectList {
  background-color:      antiquewhite; }
#projectHeader {
  display:               grid; 
  grid-template-columns: 4fr minmax(1em, 48px); }
#projectHeader > button {
  margin:                8px 0 0 0;}
#projects {
  font-size:             24;
  padding:               0 8px; }
#toDo {
  background-color:      azure; }
#toDoListHeader {
  display:               grid; 
  grid-template-columns: 10fr minmax(1em, 48px);
  background-color:      pink; }
#toDoListHeader > button {
  margin:                8px 0 0 0;}
#toDoEntries {
  display:               flex;
  flex-direction:        column;
  font-size:             24;
  padding:               0 0 0 8px; 
  border-bottom:         8px outset silver; }
#entry {
  flex:                  0 0 1.25em;
  display:               flex; 
  height:                1.5em; }
#entry > div {
  flex:                  1;
  overflow:              hidden;
  text-overflow:         ellipsis; }
#entry > button {
  flex:                  0 0 48px;
  margin:                0; }
#entryTitle {
  flex:                  3 }
